* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: #03002e
}

body{
    background-color: rgb(230, 230, 245);
}

circle {
    fill: white;
}

.navbar{
    width: 100%;
    height: 70px; 
    background-color: #03002e;
    box-shadow: 0 0 5px 0 #03002e;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.signature{
    margin-top: 0; 
    text-align: center;
    margin-right: 0; 
}

svg {
    height: 70px;
    width: auto;
}

path {
    stroke: rgb(230, 230, 245);
    fill: none;
    stroke-linecap: round;
    stroke-width: 10px;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: draw 2s linear forwards;
}

path:nth-child(1) { 
    animation-delay: 0s;
}
path:nth-child(2) { 
    animation-delay: 1.15s;
}
path:nth-child(3) { 
    animation-delay: 1.45s; 
}
path:nth-child(4) { 
    animation-delay: 1.75s; 
}
path:nth-child(5) { 
    animation-delay: 2.1s;
}


@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.content-section {
    display: flex;
    align-items: flext-start;
    justify-content: space-between; 
    padding: 10px 2%; 
    width: 96%; 
    margin: 0 auto; 
}

.Hi{
    width: auto;
    float: none;
    margin-right: 0; 
}

.Hi h1{
    padding-left: 0;
    text-align: left;
    color:#010057;
    font-size: 72pt;
}

.Hi p{
    font-size: large;
    color:#010057;
    text-align: left;
    padding: 5px 0px 0px 0px;
}

figure{
    text-align: right; 
    font-size: x-small;
    padding: 10px 10px 10px 10px;
}

#me{
    width: 300px; 
    box-shadow: 1px 1px 1px 1px #ccc;
}
