* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: #03002e
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #03002e;
    box-shadow: 0 0 5px 0 #03002e;
    overflow: hidden;
    padding-bottom: 10px;
}

.navbtn{
    float: left;
    width: 30px;
    height: 30px;
    margin: 18px 15px;
    border-style: solid;
    border-color:rgb(230, 230, 245);
    border-radius: 6px;
    border-width: 1.5px;
    cursor: pointer;
    display: block;
}

.bar1,.bar2,.bar3{
    width: 18px;
    height: 1.5px;
    background-color: rgb(230, 230, 245);
    margin-left: 6px;
}

.bar1{
    margin-top: 8px;
}
.bar2,.bar3{
    margin-top: 5px;
}

.dropdown-wrap{
    position: absolute;
    width: 280px;
    background-color: #03002e;
    max-height: 0px;
    border-bottom-right-radius: 5px;
    transition: max-height 0.3s;
    overflow: hidden;
}

.dropdown-wrap.open-menu{
    max-height: 100px;
}

.choice{
    display: flex;
    height: 36px;
    color: rgb(230, 230, 245);
    font-size: 18pt;
    margin-left: 20px;
    margin-top: 8px;
    font-weight: lighter;
}

.dropdown a{
    color: rgb(230, 230, 245);
    text-decoration: none;
}

.bar {
    height:1px;
    width: 260px;
    margin-left: 10px;
    background-color: rgb(230, 230, 245);
}

.signature{
    margin-top: 10px;
    text-align: center;
    margin-right: 66px;
}

#sign{
    height: 50px;
    width: 200px;
}

p {
    color: black;
    text-align: left;
    padding: 5px 0px 0px 20px;
}

#countdown{
    color: #010057;
    text-align: center;
    font-size: 60pt;
    font-family: 'Seven Segment', sans-serif;
    padding-top: 50px;
}

body{
    background-color: rgb(230, 230, 245);
}

.Hi{
    width: 50%;
    float: left;
    color: #03002e;
    padding-top: 30px;
}

.Hi h1{
    padding-left: 80px;
    text-align: left;
    color:#010057;
    font-size: 72pt;
}

.Hi p{
    font-size: large;
}

figure{
    text-align: right;
    font-size: x-small;
    padding: 10px 10px 10px 10px;
}

#me{
    width: 30%;
    box-shadow: 1px 1px 1px 1px #ccc;
}